@media screen and (min-width: 700px) {
    .Header {
        display: flex;
    }

    .logo {
        margin: 1.5em 0 .5em 1em;
    }

    .navBarMobile {
        display: flex;

        position: relative;

        background-color: #fff;
        width: max-content;
        height: max-content;
        padding: 0;
    }

    .menuHamburguer {
        display: none;
    }

    .closeMenuHamburguer {
        display: none;
    }

    .navLinks {
        font-size: 12px;
        margin: 2em 2em;
        cursor: pointer;
    }

    .navLogin {
        font-size: 12px;
        cursor: pointer;
    }

    .navRegister {
        cursor: pointer;
        font-size: 10px;
        margin-left: 3em;
    }

    .listLinks {
        display: flex;
        height: 1em;
        margin: 0 1em;
    }

    .login {
        display: flex;
        margin: .5em 0 0 24em;
    }

    .hidenItensFeatures {
        margin-top: 1.5em;
        margin-right: -7em;
        width: 10em;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 2px 2px 15px 2px #2b2a2a4d;
    }

    .hidenItensFeatures li {
        margin: .5em 0 .5em 0;
    }

    .hidenItensCompany {
        margin-top: 1em;
        margin-right: -7em;
        width: 8em;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 2px 2px 15px 2px #2b2a2a4d;
    }

    .hidenItensCompany li {
        margin: .5em 0 .5em 0;
    }

    /* main */

    .main {
        display: flex;
        flex-direction: row-reverse;
    }

    .ImgMobile {
        display: none;
    }

    .ImgDesktop {
        display: block;

        width: 19em;
        margin-right: 8em;
    }

    .content {
        height: 25em;
        margin: 0 0 0 7em;
        width: 50em;

    }

    .MainTitle {
        font-weight: 700;
        text-align: justify;
        margin: 1.5em 0 0 0;
        font-size: 3em;
        width: 6em;
    }

    .MainParagraph {
        text-align: justify;
        width: 20em;
        margin: 0;
        font-size: 15px;
        font-weight: 400;
    }

    .btn {
        margin: 0;
    }

    .BtnLearnMore {
        padding: .8em 1em;
        width: 10em;
        margin-top: 2em;
    }

    /* footer */

    .footer {
        position: absolute;
        left: 5em;
        bottom: 1em;
    }

    .logoFooter {
        margin: 1em auto;
    }

    .logoFooterImg {
        height: 1em;
        margin: 0 1.5em;
    }
}

@media screen and (min-width: 1110px) {
    .logo {
        margin: 1.5em 1em .5em 2em;
    }

    .navLinks {
        font-size: 13px;
    }

    .login {
        display: flex;
        margin: .5em 0 0 35em;
    }

    .navLogin {
        font-size: 14px;
    }

    .navRegister {
        font-size: 13px;
    }

    /* main */

    .ImgDesktop {
        width: 25em;
    }

    .content {
        margin: 0 4em 0 0;
        width: 40em;
    }

    .MainTitle {
        font-size: 5em;
    }

    .MainParagraph {
        font-size: 1.2em;
        margin: 0;
    }

    .BtnLearnMore {
        width: 13em;
        margin-top: 4em;
    }

    /* footer */

    .footer {
        left: 6em;
    }

    .logoFooterImg {
        height: 1.5em;
        margin: 0 1.5em;
    }
}